osProvision/src/main/resources/openshift_account_details.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.org/openshift_accounts_details" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="openshiftAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="accountId"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element type="xs:string" name="domainId"/>
              <xs:element name="pfpCore">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element type="xs:string" name="ssh_url"/>
                    <xs:element type="xs:string" name="git_url"/>
                    <xs:element type="xs:string" name="app_url"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="brmsWebs">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element type="xs:string" name="ssh_url"/>
                    <xs:element type="xs:string" name="git_url"/>
                    <xs:element type="xs:string" name="app_url"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
