osProvision/src/main/resources/openshift_account_details.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="openshiftAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="accountId"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element type="xs:string" name="domainId"/>
              <xs:element name="pfpCore" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="uuid"/>
                    <xs:element type="xs:string" name="git_url"/>
                    <xs:element type="xs:anyURI" name="app_url"/>
                    <xs:element type="xs:string" name="internal_ip"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="brmsWebs" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="uuid"/>
                    <xs:element type="xs:string" name="git_url"/>
                    <xs:element type="xs:anyURI" name="app_url"/>
                    <xs:element type="xs:string" name="internal_ip"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
